@import url(http://fonts.googleleapis.com/css?family=lato);

body{
display: flex;
align-items: center;
justify-content: center;
min-height: 90vh;
color: #000;
}
.flipcontainer{
    perspective: 1000px;
}
.front{
background-image: url(front.jpg");
background-size: cover;
box-shadow: 0 15px 25px rgba(0, 0, 0, 0,5)
transform: rotateY(0deg);
z-index: 2;
}
.back{
background-image: url(back.jpg)
background-size: cover;
background-cover: #000;
}







