body {
  background-image: url('https://i.pinimg.com/originals/a5/00/ce/a500cea59963d3187152da4b1b5d2981.gif');
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  margin: 0; 
  text-align: center;
}

/* Flip card styles */
.flip-card {
  background-color: transparent;
  width: 554px;
  height: 341px;
  perspective: 1000px;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.589);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Flip card front styles */
.flip-card-front {
  background-image: url('https://i.pinimg.com/564x/c0/d1/94/c0d19485337437b7e6955ae26f737978.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flip card back styles */
.flip-card-back {
  background-image: url('https://i.pinimg.com/originals/a5/00/ce/a500cea59963d3187152da4b1b5d2981.gif');
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  padding: 10px; 
  box-sizing: border-box; 
  overflow: auto; 
}

/* Heading styles */
h2, h1 {
  font-size: 2.4em;
  margin: 0; 
  color: rgb(238, 255, 82);
  font-weight: bold;
  text-align: center;
}

/* Paragraph styles */
p {
  font-size: 1em; 
  color: ghostwhite;
  margin: 0.3em 0; 
  text-align: center; 
}

/* Icons container */
.icons {
  display: flex;
  gap: 10px; 
  color: ghostwhite;
}

/* Profile picture style */
.profile-picture {
  overflow: hidden;
  width: 88px; 
  height: 92px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s ease; 
}

.profile-picture:hover {
  transform: scale(1.2); 
}